html.audio_posters {
    .item-page {
        max-width: 1200px;

        .audio_posters_wrapper {
            display        : flex;
            justify-content: space-between;
            flex-wrap      : wrap;

            .audio_poster {
                width: 100%;

                .main_content {
                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            @media screen and (min-width: @screen-sm) {
                .audio_poster {
                    width: 48%;
                }
            }
        }
    }
}