.contact-form {
    max-width: 500px;
    margin   : 0 auto;

    .contact_msg {
        padding: 0;

        textarea {
            /* margin-right: 14px; */
            box-sizing: border-box;
            padding: 0;
        }
    }

    .control-btn {

        button {
            float: right;
        }
    }

    input[type="checkbox"] {
        top   : 13px;
        margin: 0;
    }
}

@media (max-width: @screen-sm-min) {
    .contact_msg {
        padding-right: 30px;
    }

}