.faq_list {
    border: 3px solid rgba(0, 0, 0, 0.1);

    .faq_list_wrapper {
        margin: 10px;

        h5.title {
            color: #e47911;
            border-bottom: 2px solid #f90;
            margin: 0 0 5px 0;
        }

        .section {
            li {
                line-height: 2;

                a {}
            }
        }
    }
}

.faq_questions {
    h5.title {
        color: #e47911;
        border-bottom: 2px solid #f90;
    }

    .question_answer {

        .question {
            p {
                .point {
                    display: inline-block;
                    width: 20px;
                }

                font-weight: bold;
            }
        }

        .answer {
            margin-left: 20px;

            .img_list {
                display: flex;
                flex-wrap: wrap;
            }

            ul,
            ol {
                padding-left: 19px;
            }

            img {
                max-width: 100%;
                height: auto;

                &.zoom {
                    cursor: pointer;
                }
            }

            div.images {
                position: relative;

                img {
                    position: absolute;
                    box-shadow: rgba(0, 0, 0, 0.75) 2px 3px 18px -8px;
                }
            }
        }
    }
}

.viewer-title {
    display: none;
}